@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
.btn,
button {
  font-size: 13px;
  font-weight: normal;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $lightblue;
  &:hover {
    text-decoration: none;

    background-color: $darkblue;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  max-width: $width;
}
.row {
  position: relative;
}
header {
  position: relative;
  z-index: 0;

  height: 548px;
  .row {
    height: 548px;
  }
  &:before,
  &:after {
    position: absolute;
    right: 0;
    left: 0;

    @extend .dblock;
  }
  &:before {
    top: 0;

    height: $headerblueblock;

    background-color: $blue;
  }
  &:after {
    bottom: 0;

    height: 160px;
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 0;

    display: block;

    width: 155px;
    height: 66px;
    img {
      max-width: 100%;
    }
  }
  .headnav-container {
    float: left;

    width: 556px;
    height: $headerblueblock;
    margin-left: 182px;
    ul {
      width: 100%;
    }
    li {
      width: 25%;
      padding: 19px 0;

      text-align: center;
      &:before,
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -15px;

        display: none;

        width: 15px;

        background-image: url(../img/base64/headnav-container-shadow-left.png);

        @extend .dblock;
      }
      &:after {
        right: -15px;
        left: auto;

        background-image: url(../img/base64/headnav-container-shadow-right.png);
      }
      a {
        font-family: 'Acrom';
        font-size: 15px;
        line-height: 3.5;

        position: relative;

        display: block;

        height: 53px;

        text-decoration: none;
        text-transform: uppercase;

        color: #fff;
        &:before,
        &:after {
          position: absolute;
          top: 50%;
          left: 0;

          width: 1px;
          height: 13px;
          margin-top: -6px;

          background-image: url(../img/base64/headnav-container-li.png);

          @extend .dblock;
        }
        &:after {
          right: 0;
          left: auto;
        }
        &:before {
          display: none;
        }
      }
      &:first-child {
        width: 28.78%;
        a {
          &:before {
            display: block;
          }
        }
      }
      &:nth-child(2) {
        width: 26.08%;
      }
      &:nth-child(3) {
        width: 20.32%;
      }
      &:last-child {
        width: 24.82%;
      }
      &.current-menu-item {
        background-image: url(../img/base64/headnav-container-li-active.png);
        background-repeat: repeat-x;
        background-position: center;
        &:before,
        &:after {
          display: block;
        }
        a {
          &:before,
          &:after {
            display: none;
          }
        }
      }
    }
  }
  .header-gosearch {
    float: left;

    width: 50px;
    padding: 33px 0 0;

    text-align: center;
    .header-gosearch__button {
      width: 20px;
      height: 20px;

      opacity: .9;
      background-color: transparent;
      background-image: url(../img/base64/header-gosearch__button.png);
      background-repeat: no-repeat;
      background-position: center;
      &:hover {
        opacity: 1;
      }
    }
  }
  .header-callback {
    padding: 25px 0 0;

    text-align: right;
    .header-callback__button {
      font-size: 13px;

      width: 170px;

      text-align: center;
      text-transform: uppercase;

      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
      &:hover {
        background-color: $darkblue;
      }
    }
  }
  .header__title {
    font-family: 'Raleway';
    font-size: 48px;
    font-weight: bold;

    margin: 0 0 30px;
    padding: 80px 0 0;

    text-align: justify;
    text-transform: uppercase;

    color: #fff;
    a {
      text-decoration: none;

      color: #fff;
    }
  }
  .header-slider {
    position: relative;

    padding: 0 185px 0 0;

    color: #fff;
    .header-slider__title {
      font-size: 38px;
      font-weight: 300;

      margin: 0;

      text-transform: uppercase;
    }
    .header-slider__description {
      font-family: 'Raleway';
      font-size: 21px;
      font-weight: 300;
      line-height: 1.5;
    }
    .header-slider__more {
      position: absolute;
      top: 8px;
      right: 0;
    }
  }
  .header-slider__fullsize {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    left: 0;

    height: 456px;

    background-image: url(../img/content/slider-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .header-search {
    position: absolute;
    z-index: 1;
    bottom: 0;

    height: 160px;
    padding: 40px 0 0;
    form {
      position: relative;

      width: 100%;
      margin: 0 0 20px;
      input {
        margin: 0;
        padding: 10px 50px 10px 10px;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;

        width: 41px;
        height: 41px;
        margin: 0;

        border-radius: 0 $base-border-radius $base-border-radius 0;
        background-image: url(../img/base64/header-gosearch__button.png);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    p {
      font-size: 18px;
      font-weight: bold;

      color: #fff;
      .quick {
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: 300;

        margin: 0 0 0 5px;

        opacity: .7;
        &:after {
          content: ', ';
        }
        &:hover {
          opacity: 1;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
      .dotted {
        cursor: pointer;

        border-bottom: 1px dotted #fff;
      }
    }
  }
}
nav {
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
}

section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}


footer {
  height: $footer;
  margin: $footer_margin auto 0;

  background-color: $light-gray;
  .inner {
    height: $footer;
  }
}


@import 'fonts/font_fontawesome';
@import 'fonts/font_acrom';
@import 'fonts/font_raleway';
@import 'base64';
@import 'import/print';
