@import 'import/reset';
@import 'import/variables';
@import 'import/buttons';
@import 'import/forms';
@import 'import/lists';
@import 'import/tables';
@import 'import/mixin';
@import 'import/wordpress';
@import 'grid/bootstrap';
@import 'grid/bootstrap-theme';
@import 'sprite';

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $f-norm;
  line-height: $base-line-height;

  color: $base-font-color;
  background-color: $base-background-color;

  -webkit-font-smoothing: antialiased;
  &.home {
    header {
      height: 548px;

      border-bottom: 0;
      background-color: transparent;
      &:after {
        display: block;
      }
      .row {
        height: 548px;
      }
      .header__title,
      .header-slider,
      .header-search {
        display: block;
      }
      .header-slider__fullsize {
        display: block;
      }
    }
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;

  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;

  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }
  &:active,
  &:focus {
    color: lighten($action-color, 15%);
    outline: none;
  }
}
.btn,
button {
  font-size: 13px;
  font-weight: normal;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  background-color: $lightblue;
  &:hover {
    text-decoration: none;

    background-color: $darkblue;
  }
}
hr {
  margin: $base-spacing 0;

  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;

  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  max-width: $width;
}
.row {
  position: relative;
}
header {
  position: relative;
  z-index: 0;

  height: 134px;

  border-bottom: 1px solid #eee;
  background-color: #fcfcfc;
  .row {
    height: 134px;
  }
  &:before,
  &:after {
    position: absolute;
    right: 0;
    left: 0;

    @extend .dblock;
  }
  &:before {
    top: 0;

    height: $headerblueblock;

    background-color: $blue;
  }
  &:after {
    bottom: 0;

    display: none;

    height: 160px;

    background-color: rgba(0, 87, 161, .21);
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 0;

    display: block;

    width: 155px;
    height: 66px;
    img {
      max-width: 100%;
    }
  }
  .headnav-container {
    float: left;

    width: 556px;
    height: $headerblueblock;
    margin-left: 182px;
    ul {
      width: 100%;
    }
    li {
      width: 25%;
      padding: 19px 0;

      text-align: center;
      &:before,
      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -15px;

        display: none;

        width: 15px;

        background-image: url(../img/base64/headnav-container-shadow-left.png);

        @extend .dblock;
      }
      &:after {
        right: -15px;
        left: auto;

        background-image: url(../img/base64/headnav-container-shadow-right.png);
      }
      a {
        font-family: 'Acrom';
        font-size: 15px;
        line-height: 3.5;

        position: relative;

        display: block;

        height: 53px;

        text-decoration: none;
        text-transform: uppercase;

        color: #fff;
        &:before,
        &:after {
          position: absolute;
          top: 50%;
          left: 0;

          width: 1px;
          height: 13px;
          margin-top: -6px;

          background-image: url(../img/base64/headnav-container-li.png);

          @extend .dblock;
        }
        &:after {
          right: 0;
          left: auto;
        }
        &:before {
          display: none;
        }
      }
      &:first-child {
        width: 28.78%;
        a {
          &:before {
            display: block;
          }
        }
      }
      &:nth-child(2) {
        width: 26.08%;
      }
      &:nth-child(3) {
        width: 20.32%;
      }
      &:last-child {
        width: 24.82%;
      }
      &.current-menu-item {
        background-image: url(../img/base64/headnav-container-li-active.png);
        background-repeat: repeat-x;
        background-position: center;
        &:before,
        &:after {
          display: block;
        }
        a {
          &:before,
          &:after {
            display: none;
          }
        }
      }
    }
  }
  .header-gosearch {
    float: left;

    width: 50px;
    padding: 33px 0 0;

    text-align: center;
    .header-gosearch__button {
      width: 20px;
      height: 20px;

      opacity: .9;
      background-color: transparent;
      background-image: url(../img/base64/header-gosearch__button.png);
      background-repeat: no-repeat;
      background-position: center;
      &:hover {
        opacity: 1;
      }
    }
  }
  .header-callback {
    padding: 25px 0 0;

    text-align: right;
    .header-callback__button {
      font-size: 13px;

      width: 170px;

      text-align: center;
      text-transform: uppercase;

      color: #fff;
      border: 1px solid #fff;
      background-color: transparent;
      &:hover {
        background-color: $darkblue;
      }
    }
  }
  .header__title {
    font-family: 'Raleway';
    font-size: 48px;
    font-weight: bold;

    display: none;

    margin: 0 0 30px;
    padding: 80px 0 0;

    text-align: justify;
    text-transform: uppercase;

    color: #fff;
    a {
      text-decoration: none;

      color: #fff;
    }
  }
  .header-slider {
    position: relative;

    display: none;

    padding: 0 185px 0 0;

    color: #fff;
    .header-slider__title {
      font-size: 38px;
      font-weight: 300;

      margin: 0;

      text-transform: uppercase;
    }
    .header-slider__description {
      font-family: 'Raleway';
      font-size: 21px;
      font-weight: 300;
      line-height: 1.5;
    }
    .header-slider__more {
      position: absolute;
      top: 8px;
      right: 0;
    }
  }
  .header-slider__fullsize {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    left: 0;

    display: none;

    height: 456px;

    background-image: url(../img/content/slider-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .header-search {
    position: absolute;
    z-index: 1;
    bottom: 0;

    display: none;

    height: 160px;
    padding: 40px 0 0;
    form {
      position: relative;

      width: 100%;
      margin: 0 0 20px;
      input {
        margin: 0;
        padding: 10px 50px 10px 10px;
      }
      button {
        position: absolute;
        top: 0;
        right: 0;

        width: 41px;
        height: 41px;
        margin: 0;

        border-radius: 0 $base-border-radius $base-border-radius 0;
        background-image: url(../img/base64/header-gosearch__button.png);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
    p {
      font-size: 18px;
      font-weight: bold;

      color: #fff;
      .quick {
        font-family: 'Raleway';
        font-size: 18px;
        font-weight: 300;

        margin: 0 0 0 5px;

        opacity: .7;
        &:after {
          content: ', ';
        }
        &:hover {
          opacity: 1;
        }
        &:last-child {
          &:after {
            display: none;
          }
        }
      }
      .dotted {
        cursor: pointer;

        border-bottom: 1px dotted #fff;
      }
    }
  }
}
nav {
  ul {
    @extend .justify-child;
    @extend .clearfix;
    li {
      display: inline-block;
    }
  }
}
.breadcrumbs {
  font-size: 13px;

  padding: 13px 0 0;
  a {
    text-decoration: underline;

    color: #5f5f5f;
  }
  .current {
    text-transform: uppercase;
  }
}
section {
  padding: 0 0 $footer;
}
article {
  @extend .clearfix;
  .inner-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.2;

    margin: 0 0 20px;

    text-transform: uppercase;
  }
  &.type-post {
    .col-md-12 {
      line-height: 1.4;

      padding: 25px 0;
    }
    ul,
    ol {
      padding: 10px 0;
      li {
        margin-bottom: 10px;
        &:before {
          display: none;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      ul,
      ol {
        padding-left: 20px;
      }
    }
    ul {
      list-style-type: lower-alpha;
    }
    ol {
      list-style-type: decimal;
    }
    img {
      width: 100%;
      margin: 0 0 25px;
    }
    h2,
    h3,
    h4,
    h5 {
      font-weight: bold;
    }
    h2 {
      font-size: 180%;
    }
    h3 {
      font-size: 160%;
    }
    h4 {
      font-size: 140%;
    }
    h5 {
      font-size: 130%;
    }
    h6 {
      font-size: 120%;
    }
    table {
      width: 100%;
      margin: 0 0 20px;

      border-collapse: collapse;

      border: 1px solid #000;
      td,
      th {
        padding: 10px;

        border: 1px solid #000;
      }
      th {
        font-size: 16px;
        font-weight: normal;

        color: #fff;
        background-color: #484848;
      }
      td {
        font-size: 14px;
      }
    }
    blockquote {
      margin: 0 0 25px;
      padding: 30px;

      border-left: 5px solid #dfdfdf;
      background-color: #fcfcfc;
      p {
        font-size: 14px;
        font-style: italic;
        line-height: 1.8;
        &:first-child {
          &:before {
            display: inline-block;

            width: 14px;
            height: 10px;
            margin: 0 12px 0 0;

            content: '';

            background-image: url(../img/base64/blockquote-before.png);
          }
        }
        &:last-child {
          &:after {
            display: inline-block;

            width: 14px;
            height: 10px;
            margin: 0 0 0 12px;

            content: '';

            background-image: url(../img/base64/blockquote-after.png);
          }
        }
      }
    }
    .gallery {
      .gallery-item {
        margin: 0 0 10px !important;
        padding: 0 10px;

        opacity: .9;
        &:hover {
          opacity: 1;
        }
        img {
          margin: 0;
        }
      }
      br {
        display: none;
      }
    }
    .content-brake {
      height: 3px solid $gray;
      margin: 0 0 25px;
      padding: 0;
    }
  }
}
.post__paginations {
  padding: 0;
  a {
    font-size: 14px;
    line-height: 2;

    display: block;

    width: 170px;
    height: 28px;

    text-align: center;
    text-decoration: none;

    color: #000;
    border-radius: $base-border-radius;
    background-color: #e4e4e4;
    &:hover {
      background-color: #d2d2d2;
    }
    &:before,
    &:after {
      width: 7px;
      height: 7px;

      content: '';

      background-image: url(../img/base64/post__paginations-next.png);
    }
    &:after {
      display: none;

      margin-left: 8px;

      background-image: url(../img/base64/post__paginations-next.png);
    }
    &:before {
      display: inline-block;

      margin-right: 8px;

      background-image: url(../img/base64/post__paginations-prev.png);
    }
  }
  &.post__paginations-reverse {
    text-align: right;
    a {
      float: right;
      &:before {
        display: none;
      }
      &:after {
        display: inline-block;
      }
    }
  }
}
.article-workvectors {
  font-family: 'Raleway';

  padding: 50px 0 45px;
  .article-workvectors__title {
    font-size: 40px;
    font-weight: bold;

    margin: 0 0 25px;

    text-align: center;
    text-transform: uppercase;
  }
  .article-workvectors__item {
    font-size: 18px;
    font-weight: bold;

    position: relative;

    height: 195px;
    padding: 110px 0 0;

    text-align: center;
    text-decoration: none;

    color: #000;
    border: 3px solid transparent;
    background-position: center;
    &:before {
      position: absolute;
      top: 30px;
      left: 50%;

      width: 80px;
      height: 70px;
      margin-left: -40px;

      background-repeat: no-repeat;
      background-position: center top;

      @extend .dblock;
    }
    h5 {
      padding: 10px 0;
    }
    &:hover {
      border: 3px solid $darkblue;
      h5 {
        color: #fff;
        background-color: rgba(0, 87, 161, .42);;
      }
    }
    &.article-workvectors__item-1 {
      &:before {
        background-image: url(../img/base64/ico-workvectors-1.png);
      }
      &:hover {
        background-image: url(../img/content/article-workvectors__item-1.png);
        &:before {
          background-image: url(../img/base64/ico-workvectors-1-h.png);
        }
      }
    }
    &.article-workvectors__item-2 {
      &:before {
        background-image: url(../img/base64/ico-workvectors-2.png);
      }
      &:hover {
        background-image: url(../img/content/article-workvectors__item-2.png);
        &:before {
          background-image: url(../img/base64/ico-workvectors-2-h.png);
        }
      }
    }
    &.article-workvectors__item-3 {
      &:before {
        background-image: url(../img/base64/ico-workvectors-3.png);
      }
      &:hover {
        background-image: url(../img/content/article-workvectors__item-3.png);
        &:before {
          background-image: url(../img/base64/ico-workvectors-3-h.png);
        }
      }
    }
  }
}
.article__popular-services {
  padding: 55px 0;

  background-color: $gray;
  .popular-services {
    text-decoration: none;

    color: #000;
    border: 3px solid transparent;
    h5 {
      font-size: 18px;
      font-weight: bold;

      position: relative;

      padding: 10px 0 10px 65px;
      img {
        position: absolute;
        top: 5px;
        left: 0;
      }
    }
    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.3;
    }
    &:hover {
      color: $lightblue;
      border: 3px solid $lightblue;
    }
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8) {
      margin-bottom: 20px;
    }
  }
  .popular-services__more {
    width: 180px;
    margin: 0 auto;
    margin-left: 395px;
  }
}
.article__content {
  padding: 55px 0;
  .content_title {
    font-size: 40px;
    font-weight: bold;

    position: relative;

    margin: 0 0 20px;
    padding: 0 0 20px;

    text-align: center;
    text-transform: uppercase;

    color: #000;
    &:after {
      position: absolute;
      bottom: 0;
      left: 50%;

      width: 50px;
      height: 2px;
      margin-left: -25px;

      background-color: $gray;

      @extend .dblock;
    }
  }
  .article__content-thumbs {
    img {
      width: 100%;
    }
  }
  .article__content-text {
    font-family: 'Raleway';
    font-size: 16px;
    line-height: 1.2;
  }
}
.article__popnews {
  font-family: 'Raleway';

  padding: 55px 0;

  background-color: $gray;
  .article__popnews-title {
    font-size: 40px;
    font-weight: bold;

    margin: 0 0 25px;

    text-transform: uppercase;
  }
  .article__popnews-more {
    display: block;

    width: 100%;

    text-align: right;

    color: $lightblue;
  }
  .article__popnews-popitem,
  .article__popnews-newitem {
    margin: 0 0 20px;
    padding: 15px;

    border: 3px solid transparent;
    h5 {
      font-size: 16px;
      font-weight: bold;

      overflow: hidden;

      height: 19px;
    }
    p {
      font-size: 14px;
      line-height: 1.4;

      text-align: justify;
    }
    .time,
    .date {
      font-size: 14px;

      margin: 0 10px 0 0;
      padding: 0 0 0 20px;

      color: #000;
      background-repeat: no-repeat;
      background-position: left center;
    }
    .date {
      background-image: url(../img/base64/ico-calendar.png);
    }
    .time {
      background-image: url(../img/base64/ico-time.png);
    }
    &:hover {
      border-color: $lightblue;
      background-color: #fff;
      h5,
      p {
        color: $lightblue;
      }
    }
  }
  .article__popnews-popitem {
    &:nth-child(2),
    &:nth-child(4) {
      background-color: #eee0e3;
    }
    &:nth-child(3) {
      background-color: #dfe7ee;
    }
  }
  .article__popnews-newitem {
    margin-bottom: 16px;

    border: 3px solid #e8e8e8;
    .article__popnews-newitem-text {
      overflow: hidden;

      height: 62px;
      margin-bottom: 5px;
    }
    p {
      line-height: 1.4;

      text-align: left;
    }
  }
}
.cat-title {
  font-size: 18px;

  margin: 0;
  padding: 30px 0 0;

  text-transform: uppercase;

  color: #5f5f5f;
  a {
    text-decoration: none;

    color: #5f5f5f;
  }
}
.loop-container {
  padding: 0;
  img {
    width: 100%;
  }
}
.looper {
  position: relative;

  padding: 30px 0 0;

  @extend .clearfix;
  hr {
    height: 30px;
    margin-right: 15px;
    margin-left: 15px;

    border-color: transparent;
    border-bottom: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
  }
  .inner-title {
    font-weight: normal;

    margin: 0 0 15px;

    text-transform: uppercase;
    a {
      color: $lightblue;
    }
  }
}
.looper-content {
  p {
    font-size: 14px;
    line-height: 1.8;

    color: #808080;
  }
  .date,
  .time {
    position: relative;
    &:before,
    &:after {
      position: absolute;
      top: 5px;
      left: 10px;

      width: 16px;
      height: 16px;

      background-repeat: no-repeat;
      background-position: center;

      @extend .dblock;
    }
  }
  .date {
    font-size: 13px;
    line-height: 2;

    display: block;

    width: 230px;
    height: 30px;
    padding-left: 30px;

    color: #808080;
    border: 1px solid #eee;
    background-color: #fcfcfc;
    &:before {
      background-image: url(../img/base64/ico-date-looper.png);
    }
    &:after {
      top: 50%;
      right: 90px;
      left: auto;

      width: 1px;
      height: 12px;
      margin-top: -6px;

      background-color: #bdbdbd;
    }
    .time {
      padding-left: 50px;
      &:before {
        top: 0;
        left: 28px;

        background-image: url(../img/base64/ico-time-looper.png);
      }
      &:after {
        display: none;
      }
    }
  }
  .view-article {
    display: none;
  }
}
.pagination {
  text-align: center;

  @extend .clearfix;
  a,
  span {
    display: inline-block;

    margin: 0 5px;
  }
  span {
    font-weight: bold;
  }
  .next {
    float: right;
  }
  .prev {
    float: left;
  }
}
footer {
  position: relative;

  height: $footer;
  margin: $footer_margin auto 0;
  padding: 50px 0 0;
  &:after {
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    left: 0;

    height: 84px;

    background-color: $blue;

    @extend .dblock;
  }
  .footernav {
    margin-bottom: 70px;
    h6 {
      font-size: 18px;
      font-weight: bold;

      margin: 0 0 20px;

      text-transform: uppercase;
    }
    ul {
      li {
        position: relative;

        margin: 0 0 10px;
        padding: 0 0 0 15px;
        &:before {
          position: absolute;
          top: 4px;
          left: 0;

          width: 5px;
          height: 5px;

          border-radius: 50%;
          background-color: #4c4c4c;

          @extend .dblock;
        }
        a {
          font-size: 16px;

          color: $blue;
          &:after {
            display: none;

            content: '  >';
          }
        }
        &:hover {
          &:before {
            color: $blue;
          }
          a {
            color: $lightblue;
            &:after {
              display: inline;
            }
          }
        }
      }
    }
  }
  .footer-copywrite {
    padding: 0;

    text-align: center;

    color: #fff;
    span {
      font-size: 16px;
      font-weight: bold;
    }
  }
}


@import 'fonts/font_fontawesome';
@import 'fonts/font_acrom';
@import 'fonts/font_raleway';
@import 'base64';
@import 'import/print';
