@font-face {
  font-family: 'Raleway';
  font-weight: bold;
  font-style: normal;

  src: url('../fonts/raleway-bold-webfont.eot');
  src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
  url('../fonts/raleway-bold-webfont.woff') format('woff'),
  url('../fonts/raleway-bold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 300;
  font-style: normal;

  src: url('../fonts/raleway-light-webfont.eot');
  src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway-light-webfont.woff2') format('woff2'),
  url('../fonts/raleway-light-webfont.woff') format('woff'),
  url('../fonts/raleway-light-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/raleway-regular-webfont.eot');
  src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
  url('../fonts/raleway-regular-webfont.woff') format('woff'),
  url('../fonts/raleway-regular-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  font-style: normal;

  src: url('../fonts/raleway-black-webfont.eot');
  src: url('../fonts/raleway-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway-black-webfont.woff2') format('woff2'),
  url('../fonts/raleway-black-webfont.woff') format('woff'),
  url('../fonts/raleway-black-webfont.ttf') format('truetype');
}
